
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <div class="display-5">Peoject Details</div>
       <br />
        <table class="table table-bordered table-striped table-sm">
            <thead class="bg-success text-black text-white">
                <tr>
                    <th>CRUD Opration</th>
                    <td class="text-center">Create, Read, Update, Delete.</td>
                </tr>
                <tr>
                    <th>Using</th>
                    <td class="text-center">Data Annotation, View Model, Partial View, DatePicker Add.</td>
                </tr>
            </thead>
            <tbody>
              <tr>
                  <td></td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
@section styles {

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
}